<h2 id="profile" style="text-align: center; margin-top: 5%; margin-bottom: 10%">
    Profile
</h2>

<div class="row-about">
    <div class="aboutMe">
        <h3 style="padding-top: 10px">About me</h3>
        <p class="about">
            I have decided to make a turn on my career because I strongly believe that is never too late. I started with html css and Javascript and felt that the path of front end development is the right path for me. I am decicated, a fast learner and very patient.
            I love to learn new things. I am also a team player, very well organized and self motivated. I have a tendency for perfectionism and I always try to reach the right results.
        </p>
        <p class="about">
            My personal goal is to find a job that I can cultivate my skills and improve my knowledge in this field
        </p>
    </div>

    <img class="photo-profile" src="../../assets/images/pf1.jpg " alt="My photo " />
    <div class="detail" style="text-align: center">
        <h3 class="det">Details</h3>
        <p><span>Name:</span> Nikolaos Batzonis</p>
        <p><span>Age:</span> 39</p>
        <p><span>Location:</span> Franz Guggenbergerstrasse 28, Korneuburg</p>
    </div>
</div>