#navbar {
    background-color: #201e20;
}


/* #navbar a {
  display: block;
  color: #ddc3a5;
  padding: 15px;
  text-decoration: none;
} */


/* #navbar a:hover {
    color: #e0a96d;
} */

.mouse {
    display: block;
    color: #ddc3a5;
    padding: 15px;
    text-decoration: none;
}

.mousecolor {
    color: #e0a96d;
}

.images {
    width: 100%;
}