<h2 id="contact " style="text-align: center; margin-top: 5%; margin-bottom: 10%">
    Contact
</h2>
<div class="container" style="padding-bottom: 3%">
    <div class="row contact">
        <div class="col-12 col-sm-10 col-md-6 col-lg-6">
            <a class="a" href="mailto:n.batzonis@gmal.com? subject=subject text">
                <img class="email img" src="../../assets/images/email.png " alt="email " />n.batzonis@gmail.com</a>
        </div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-6 d-flex a">
            <img class="tel img" src="../../assets/images/tel.png " alt="Tel " />
            <p class="number">+43 680 320 0863</p>
        </div>
    </div>
    <div class="row contact">
        <div class="col-12 col-sm-10 col-md-6 col-lg-6">
            <a class="a" href="https://github.com/nikosBatzonis ">
                <img class="github img" src="../../assets/images/github.png " alt="gitHub " />https://github.com/nikosBatzonis</a>
        </div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-6 d-flex">
            <a class="a" href="skype:Nikos Batzonis?call">
                <img class="skype" src="../../assets/images/skype.png " alt="skype " />Nikos Batzonis
            </a>
        </div>
    </div>
</div>