<div class="row-home" style="margin-top: 5%">
    <div class="name">
        <h3>
            Nikolaos <br /> Batzonis
        </h3>
        <p>Frontend Web Developer</p>
        <p class="par">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aperiam itaque at, repellat est dolore.
        </p>
        <a class="btn-btn" href="mailto:n.batzonis@gmal.com? subject=subject text">
            <button class="btn" style="background: #f3ca95">Contact me</button></a>
    </div>
    <img class="myPhoto" src="../../assets/images/pf2.jpg" alt="My photo" />
</div>
<app-about></app-about>
<app-portfolio-details></app-portfolio-details>
<app-skills></app-skills>
<app-contact></app-contact>