<div class="container" style="padding-bottom: 3%">
    <h2 id="skills " style="text-align: center; margin-bottom: 5%; margin-top: 5%">
        Skills
    </h2>
    <div class="d-flex text-center">
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/vs.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/html.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/css.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/js.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/json.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/angular.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/ts.webp " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/sass.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/bootstrap.png " alt=" " />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1 logos">
            <img class="logo" src="../../assets/images/git.png " alt=" " />
        </div>
    </div>
</div>